*{
    box-sizing: border-box;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    margin: auto;
}
main > .square{
    width: 70px;
    aspect-ratio: 1;
    background-color: antiquewhite;
    border: 1px solid black;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.square > p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
button{
    margin: auto;
    display: block;
    margin-top: 20px;
    background-color: cadetblue;
    border: 1px antiquewhite solid;
    border-radius: 5px;
    padding: 5px 10px;
    color: antiquewhite;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
body > p {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}